<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script src="/javascripts/phaser.js"></script>
      <script src='/socket.io/socket.io.js'></script>
      <script src="/javascripts/jquery-2.2.4.min.js"></script>

      <script src="/javascripts/boot.js"></script>
      <script src="/javascripts/load.js"></script>
      <script src="/javascripts/menu.js"></script>
      <script src="/javascripts/join.js"></script>
      <script src="/javascripts/desktopPlay.js"></script>
      <script src="/javascripts/mobilePlay.js"></script>
      <script src="/javascripts/playerWin.js"></script>
      <script src="/javascripts/enemyWin.js"></script>
      <script src="/javascripts/resize.js"></script>
      <script src="/javascripts/leaderboard.js"></script>
      <script src="/javascripts/game.js"></script>

      <style>
          body{
              background-color: white;
              width:100%;
              position:relative;
              float:left;
              margin:0;
              padding:0;
              text-align:center;
          }
          canvas{
              margin:0 auto;
          }
      </style>
  </head>
  <body>
  <div id="viewPort"></div>
  </body>
</html>

<script>
    window.addEventListener("keydown", function(e) {
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
</script>